@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;1,400&family=Press+Start+2P&family=Source+Code+Pro&display=swap'); */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  background-color: #f9fafb;
  /* Light gray */
  /* Black text */
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  /* Add any other styles you want to apply globally */
}

.codeblock-chatgpt {
  font-family: 'Söhne Mono', Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.7142857;
  background-color: #282c34;
  color: #00a67d;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre-wrap;
}

/* .press-start {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
} */


h1,
h2,
h3 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 16px;
  width: 239px;
  height: 54px;
  background: #FFFFFF;
  /* 600 */
  border: 1px solid #6F6F6F;
  /* Drop */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 60px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}